.nav{
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);

}
.Header{
  
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}


.footer{
  
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}
.content-wrap{
  justify-content: center;
  align-items: center;
  display: block;
}
.space{
  justify-content: space-between;
}
.container{
  margin-left: 200px;
}
body{
  overflow:auto;
}
.img-border{
  border-radius: 30px;
}